<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chileaf.cl831.sample"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".multi.MultiConnectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BloodOxygenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TemperatureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistorySleepActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SportHealthActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dfu.DfuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dfu.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".dfu.DfuService"
            android:exported="true">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>